


<div class="wow fadeInLeft animated text-center">
	<h3 [innerHTML]="lecture.headline"></h3>

</div>
<br />
<div class="wow fadeInRight animated text-center">
	<h4 [innerHTML]="lecture.content"></h4>
</div>
<br />
<div class="wow fadeInLeft animated text-center">
	<h4 [innerHTML]="lecture.date"></h4>
</div>
<br />
<div class="wow fadeInRight animated text-center">
	<h4 [innerHTML]="lecture.place"></h4>
</div>
<br />
<div class="wow fadeInLeft animated text-center">
	<h4 [innerHTML]="lecture.contact"></h4>
</div>

<hr />