<article style="width: 283px;"
	class="post hentry uncustomized-post-template post type-post status-publish format-standard has-post-thumbnail hentry category-nature tag-creative tag-perspective tag-vintage span_1_of_3 masonry-entry col- loop-entry col clr">
	<meta
		content="http://wallpaper.pickywallpapers.com/1920x1080/hugh-laurie-classic-portrait.jpg"
		itemprop="image_url">



	<div class="post-body entry-content" id="post-body-2338925941270206824" style="height: 600px;"
		itemprop="description articleBody">
		<div id="summary2338925941270206824">
			<div class="loop-entry-thumbnail">
				<a title=""
					[routerLink]="['/article', article.id]"><img
					alt="" class="imgcon"
					src="https://lh3.googleusercontent.com/proxy/fb3hZgL3AtQwhgSCdlpuPG2J7yL3vxzjkPgsh4-yK9G0TWVOjh8pqcNirg2DyoEYNZijnlUHH8_TwylMVVpMcggtuBQqvquxk6q2WXxGPMfBM8Pk2XlfntjOoCYeTpa8iGbA=s0-d"
					style="height: 241px;" width="332px" height="241"></a>
			</div>

			<div class="loop-entry-content clr">
				<header style="overflow: hidden; height: 24px; margin-bottom: 13px;">
					<h2 class="loop-entry-title">
						<a title="" [routerLink]="['/article', article.id]">{{
							article.title }}</a>
					</h2>
				</header>
				<div class="loop-entry-excerpt entry clr" >

<div innerHTML="{{ article.headline }}" style="max-height: 150px;"></div>
					

					<span class="wpex-readmore"><a
						[routerLink]="['/article', article.id]" title="" rel="bookmark">{{ 'Read more' | translate }}</a></span>
				</div>
			</div>
		</div>

		<div style="clear: both;"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="post-footer">
		<div class="post-footer-line post-footer-line-1 loop-entry-meta clr">
			<span class="post-timestamp loop-entry-meta-date"> <span
				class="strong">{{ 'Published:' | translate }}</span>
				<meta
					content="http://fabulous-soratemplates.blogspot.com/2014/03/fighting-alone-in-field.html"
					itemprop="url"> <a class="timestamp-link"
				[routerLink]="['/article', article.id]"
				rel="bookmark" title="permanent link"><abbr class="published"
					itemprop="datePublished" title="2014-03-18T17:26:00-07:00">3/18/2014</abbr></a>
			</span><br> <span class="post-labels loop-entry-meta-category">
				<span class="strong">{{ 'Categories:' | translate }}</span> <a
				[routerLink]="['/article', article.id]"
				rel="tag">{{ 'Modern history' | translate }}</a>
			</span>
			<div class="post-share-buttons goog-inline-block"></div>
		</div>
		<div class="post-footer-line post-footer-line-3"></div>
	</div>
</article>