/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	height: auto;
}

mark {
	background: none;
}

select {
	max-width: 100%;
}
/* Template Skin
================================================== */
body#layout #navbar, body#layout #site-navigation-wrap {
	display: none;
}

body#layout .site-header.clr.container {
	margin-top: 30px;
}

body#layout .site-main {
	padding: 0px;
}

body#layout .site-content.left-content.clr {
	width: 480px;
	float: left;
}
/* The Grid
================================================== */
.col:after, .clr:after, .group:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
}

.col {
	display: block;
	float: left;
	margin: 0 0 2% 1.6%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*clear float and remove left margin*/
.clr-margin {
	margin-left: 0;
}

.count-1 {
	clear: both;
	margin-left: 0;
}

.col-1, .col.first {
	clear: both;
	margin-left: 0;
}
/* Body & Main
================================================== */
body {
	background-color: #f7f7f7;
	background-image:
		url("//3.bp.blogspot.com/-GLRY5Ld4j9w/U2e1ByEXwcI/AAAAAAAABP4/_eZ7nV5yBXo/s1600/noise.png");
	background-repeat: repeat;
	color: #777;
	font: 13px/21px 'Source Sans Pro', "Helvetica", Arial, serif;
}

body.light-skin {
	background-color: #f7f7f7;
	background-image:
		url("//1.bp.blogspot.com/-HyFxj4GhE54/U2e1SfcZa3I/AAAAAAAABQA/5oDCHs0pVwM/s1600/noise-light.png");
}

body a {
	color: #F56650;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

.container {
	margin: 0 auto;
	width: 1020px;
	max-width: 90%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.site-main {
	padding: 60px 0;
}

body.page .site-content, body.single .single-post-article, body.single .comments-inner
	{
	background: #fff;
	padding: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

body.page.page-template-templatesblog-php .site-content {
	background: none;
	padding: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/*left content*/
body.no-sidebar .left-content {
	width: 100%;
	max-width: 100%;
}
/*sidebar*/
.sidebar-container {
	float: right;
	width: 300px;
	max-width: 30%;
	margin-top: 10px;
}
/*left sidebar*/
body.left-sidebar .left-content {
	float: right;
}

body.left-sidebar .sidebar-container {
	float: left;
}
/*right sidebar*/
body.right-sidebar .left-content {
	float: left;
}

body.right-sidebar .sidebar-container {
	float: right;
}
/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-weight: 500;
	color: #000;
	line-height: 1.4em;
	font-family: 'Nunito', Helvetica, Arial;
}

.entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
	margin: 50px 0 25px;
}

h1 {
	font-size: 1.846em;
	margin: 0 0 20px;
}

h2 {
	font-size: 1.385em;
}

h3 {
	font-size: 1.231em;
}

.entry h3 {
	text-transform: uppercase;
	font-size: 0.923em;
	color: #444;
}

h4 {
	font-size: 1.077em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

p {
	margin: 0 0 25px;
}

h1 a, h2 a, h3 a, h4 a {
	color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	color: #F55230;
	text-decoration: none;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	font-weight: 600;
	color: #000;
}

small {
	font-size: 0.95em;
}

hr {
	border: solid #eee;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 40px 0;
}

a {
	outline: 0;
}
/* Commons
================================================== */
.clr:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clear {
	clear: both;
}

img {
	height: auto;
	max-width: 100%;
}

blockquote {
	margin-bottom: 30px;
	position: relative;
	color: #777777;
	font-style: italic;
	font-size: 1.231em;
	line-height: 1.6em;
	padding: 40px;
	background: #f8f8f8;
	border-left: 4px solid #d6d6d6;
	font-family: "Source Sans Pro";
}

blockquote p:last-child {
	margin: 0;
}

blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	text-align: right;
	width: 33%;
}

blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

blockquote cite {
	display: block;
	color: #000;
	margin-top: 20px;
}

pre {
	background: #f9f9f9;
	padding: 20px;
	margin-bottom: 30px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: 'Verdana';
	font-size: 0.95em;
}

dt {
	font-weight: bold;
	font-weight: 600;
	color: #000;
}

dd {
	margin: 0 0 20px;
}

address {
	letter-spacing: 1px;
	margin: 20px 0;
}

#page-featured-img {
	margin-bottom: 25px;
	position: relative;
}

#page-featured-img img {
	display: block;
	width: 100%;
}

.wpex-video-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.wpex-video-embed frame, .wpex-video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.wpex-lightbox-gallery {
	display: block;
}

.page-thumbnail {
	margin: -40px -40px 40px;
}

.page-thumbnail img {
	display: block;
}

body.page-template-templatesfullwidth-php .page-thumbnail {
	margin-bottom: 20px;
}

.content-none p {
	margin-bottom: 0;
}

.entry .googlemap {
	margin-bottom: 25px;
}
/*wp gallery*/
.gallery-caption {
	text-align: center;
	font-size: 12px;
	color: #606060;
}
/*tables*/
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 0.9em;
	width: 100%;
	margin-bottom: 30px;
}

.entry th, .entry td {
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border-bottom: 1px solid #DDD;
}

.entry caption {
	color: #444;
	text-align: center;
	padding: 2%;
}

.entry thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.entry th {
	font-weight: bold;
	color: #444;
}

.entry table tbody>tr:nth-child(odd)>td {
	background: #f9f9f9;
}
/* Header
================================================== */
/*header*/
#header-wrap {
	background-image:
		url("//3.bp.blogspot.com/-GLRY5Ld4j9w/U2e1ByEXwcI/AAAAAAAABP4/_eZ7nV5yBXo/s1600/noise.png");
	background-repeat: repeat;
	text-align: left;
	position: relative;
}

#header {
	position: relative;
	padding: 30px 0;
	text-align: center;
}
/*logo*/
#logo img {
	display: inline-block;
}

.site-text-logo {
	font-family: 'Nunito', Helvetica, Arial;
}

.site-text-logo a {
	color: #fff;
	text-decoration: none;
	font-size: 2.462em;
	font-weight: bold;
	font-weight: 500;
}

.site-text-logo a:hover {
	text-decoration: none;
	color: #fff;
}

.blog-description {
	margin-top: 5px;
	font-family: 'Nunito', Helvetica, Arial;
	font-size: 0.846em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/*header dark skin*/
.dark-skin #header-wrap {
	background-color: #292929;
}
/*breadcrumbs*/
body.breadcrumbs-enabled.single-post .site-main {
	padding-top: 25px;
}

.breadcrumb-trail {
	margin-bottom: 25px;
	font-size: 0.923em;
	color: #000;
}

.breadcrumb-trail a {
	color: #777;
}

.breadcrumb-trail .fa-home {
	margin-right: 7px;
	color: #777;
}

.breadcrumb-trail .breadcrumbs-sep {
	margin: 0 6px;
	color: #777;
}

.breadcrumb-trail .trail-end {
	font-weight: bold;
	font-weight: 600;
}

body.left-sidebar .breadcrumb-trail {
	float: right;
}
/* Main Navigation
================================================== */
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}

.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 10001;
}

.main-nav li a:hover ul.sub-menu {
	display: block !important;
}
/* .sf-menu > li { float: left; }
*/
.sf-menu li:hover>ul, .sf-menu li.sfHover>ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu ul ul {
	top: 0;
	left: 100%;
}
/*.sf-menu { float: left; }
*/
.sf-menu ul {
	min-width: 180px;
	*width: 180px;
}

.sf-menu a {
	zoom: 1;
}

.sf-menu li {
	position: relative;
	white-space: nowrap;
	*white-space: normal;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.sf-menu li:hover, .sf-menu li.sfHover {
	-webkit-transition: none;
	transition: none;
}

.sf-menu .sf-mega {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu li:hover>.sf-mega, .sf-menu li.sfHover>.sf-mega {
	display: block;
}
/*styling*/
#site-navigation-wrap {
	font-family: 'Source Sans Pro';
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#site-navigation-inner {
	min-height: 50px;
}

#site-navigation .dropdown-menu>li {
	display: inline-block;
	height: 52px;
	line-height: 52px;
	margin: 0;
}

#site-navigation .dropdown-menu>li>a {
	font-size: 1em;
	font-weight: bold;
	font-weight: 600;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0 22px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*drop-down styles*/
#site-navigation .dropdown-menu ul {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	font-size: 0.923em;
	text-align: left;
	color: #777;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#site-navigation .dropdown-menu ul a {
	display: block;
	height: auto;
	line-height: 1.7em;
	padding: 10px 22px;
	font-weight: normal;
	font-weight: 400;
	margin: 0;
	border: 0;
	text-transform: none;
	color: #777;
	-webkit-transition: background .2s;
	transition: background .2s;
}

#site-navigation .dropdown-menu ul li {
	border-bottom: 1px solid #ebebeb;
	line-height: 1.4em;
	height: auto;
	float: none;
	display: block;
}

#site-navigation .dropdown-menu ul li>a:hover {
	color: #000;
	background: #fafafa;
	text-decoration: none;
}

#site-navigation .dropdown-menu ul li:last-child {
	border: none;
}

#site-navigation .dropdown-menu ul ul {
	margin-top: -1px;
}

#site-navigation .dropdown-menu ul li:first-child>ul {
	margin-top: 0;
}

body.light-skin #site-navigation .dropdown-menu ul li:first-child>ul {
	margin-top: -1px;
}
/*nav menu arrows*/
#site-navigation .dropdown-menu>li>a>.fa-caret-down {
	margin-left: 10px;
}

#site-navigation .dropdown-menu ul li {
	position: relative;
}

#site-navigation .dropdown-menu ul li a .fa-caret-right {
	position: absolute;
	right: 15px;
	top: 50%;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
}
/*fixed navigation option*/
#site-navigation-wrap.is-sticky {
	z-index: 1001;
}
/*navigation dark skin*/
.dark-skin #site-navigation-wrap {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.dark-skin #site-navigation-wrap {
	background: #303130;
	background-image: -ms-linear-gradient(top, #313131 0%, #2a2a29 100%);
	background-image: -moz-linear-gradient(top, #313131 0%, #2a2a29 100%);
	background-image: -o-linear-gradient(top, #313131 0%, #2a2a29 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313131),
		color-stop(1, #2a2a29));
	background-image: -webkit-linear-gradient(top, #313131 0%, #2a2a29 100%);
	background-image: linear-gradient(to bottom, #313131 0%, #2a2a29 100%);
	border-top: 1px solid #252525;
}

.dark-skin #site-navigation .dropdown-menu {
	position: relative;
	margin-top: -1px;
	margin-bottom: -1px;
}

.dark-skin #site-navigation-inner {
	border-top: 1px solid #393938;
	border-bottom: 1px solid #222;
}

.dark-skin #site-navigation .dropdown-menu>li>a {
	height: 51px;
	line-height: 51px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	border-top: 1px solid transparent;
}

.dark-skin #site-navigation .dropdown-menu a {
	color: #a0a0a0;
}

.dark-skin #site-navigation .dropdown-menu>li>a:hover, .dark-skin #site-navigation .dropdown-menu>li.sfHover>a
	{
	color: #fff;
}

.dark-skin #site-navigation .dropdown-menu>.current-menu-item>a,
	.dark-skin #site-navigation .dropdown-menu>.current-menu-item>a:hover,
	.dark-skin #site-navigation .dropdown-menu>.current-menu-ancestor>a,
	.dark-skin #site-navigation .dropdown-menu>.current-menu-ancestor>a:hover
	{
	color: #fff;
	background: #292928;
	background-image: -ms-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -moz-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -o-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #262625),
		color-stop(1, #282827));
	background-image: -webkit-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: linear-gradient(to bottom, #262625 0%, #282827 100%);
	border-right-color: #363636;
	border-left-color: #363636;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}

.clr.sticky-nav.is-sticky {
	position: fixed;
	top: 0;
}
/* Mobile Menu
================================================== */
/*mobile menu toggle*/
a.navigation-toggle {
	display: none;
}

a.navigation-toggle {
	height: 52px;
	line-height: 52px;
	width: 100%;
	text-align: center;
	margin: 0;
	float: left;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	position: relative;
	z-index: 9;
	text-decoration: none !important;
	font-size: 1.077em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a.navigation-toggle .fa {
	margin-right: 10px;
}

.light-skin a.navigation-toggle {
	color: #000;
}
/*mobile menu*/
.wpex-mobile-nav {
	display: none;
}

.wpex-mobile-nav {
	z-index: 9999;
	height: auto;
	line-height: auto;
}

.wpex-mobile-nav-ul li a {
	display: block;
	padding: 15px 0;
	position: relative;
}

.wpex-mobile-nav-ul li a:hover {
	text-decoration: none;
}

.wpex-mobile-nav-ul .wpex-mobile-dropdown-icon {
	z-index: 2;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: 50%;
	height: 30px;
	line-height: 30px;
	width: 60px;
	text-align: center;
	margin-top: -15px;
	font-weight: 400;
	font-size: 12px;
	text-align: right;
}

.wpex-mobile-nav-ul .menu-item-has-children>a {
	padding-right: 80px;
}

.wpex-mobile-nav-ul .menu-item-has-children ul a {
	padding-left: 20px;
}

.wpex-mobile-nav-ul .menu-item-has-children ul ul a {
	padding-left: 40px;
}

.wpex-mobile-nav-ul .menu-item-has-children ul ul ul a {
	padding-left: 60px;
}

.wpex-mobile-nav-ul .menu-item-has-children ul ul ul a {
	padding-left: 80px;
}

.wpex-mobile-nav-ul .menu-item-has-children ul a:before {
	content: "\f0da";
	margin-right: 10px;
	font-family: "FontAwesome";
}

.wpex-mobile-nav-ul ul {
	display: none;
}
/*dark mobile nav*/
.dark-skin .wpex-mobile-nav {
	background: #2a2a29;
	border-top: 1px solid #393938;
}

.dark-skin .wpex-mobile-nav-active {
	background: #292928;
	background-image: -ms-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -moz-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -o-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #262625),
		color-stop(1, #282827));
	background-image: -webkit-linear-gradient(top, #262625 0%, #282827 100%);
	background-image: linear-gradient(to bottom, #262625 0%, #282827 100%);
}

.dark-skin .wpex-mobile-nav-ul li a {
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	color: #777;
	border-bottom: 1px solid #333;
}

.dark-skin .wpex-mobile-nav-ul li a:hover {
	color: #fff;
}

.dark-skin .wpex-mobile-nav-ul>li:last-child a {
	border-bottom: none;
}
/*hide responsive elements
================================================== */
#navigation-toggle, #mobile-search {
	display: none;
}
/* Footer
================================================== */
#footer-wrap {
	background: #1e1e1e;
	overflow: hidden;
	margin: 0;
	padding-top: 70px;
	padding-bottom: 0;
	font-size: 1em;
	color: #676767;
}

#footer-wrap input[type="text"], #footer-wrap input[type="search"] {
	border: none;
}

#footer-wrap select {
	width: 100%;
}

#footer-wrap a {
	color: #676767;
}

#footer-wrap a:hover {
	color: #fff;
	text-decoration: none;
}

#footer-widgets .widget .title, #footer-widgets .widget h2:first-child {
	display: block;
	font-family: "Source Sans Pro";
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: 600;
	font-size: 1em;
	margin: 0 0 15px;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget>ul>li {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #333;
}

.footer-widget>ul>li:first-child {
	border-top: 1px solid #333;
}

#footer-widgets .widget_nav_menu ul>li {
	border-bottom: 1px solid #333;
}

#footer-widgets .widget_nav_menu ul>li a {
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
}

#footer-widgets .widget_nav_menu ul>li:first-child {
	border-top: 1px solid #333;
}

#footer-widgets .widget_nav_menu ul>li li a:before {
	content: "-";
	padding: 0 10px;
	color: #555;
}

#footer-widgets .widget_nav_menu ul>li.menu-item-has-children {
	border-bottom: none;
}
/*add extra padding to footer widgets*/
#footer-widgets .span_1_of_3.col-1 {
	padding-right: 10px;
}

#footer-widgets .span_1_of_3.col-2 {
	padding-left: 5px;
	padding-right: 5px;
}

#footer-widgets .span_1_of_3.col-3 {
	padding-left: 10px;
}

#footer-widgets .span_1_of_4.col-1 {
	padding-right: 10px;
}

#footer-widgets .span_1_of_4.col-2 {
	padding-left: 5px;
	padding-right: 5px;
}

#footer-widgets .span_1_of_4.col-3 {
	padding-left: 5px;
	padding-right: 5px;
}

#footer-widgets .span_1_of_4.col-4 {
	padding-left: 10px;
}
/* Blog
====================================================== */
body.no-sidebar .left-content {
	width: 100%;
	max-width: 100%;
}

#blog-wrap {
	position: relative;
}

.masonry-grid {
	margin: 0 -1.2% 0 -1%;
}

.masonry-grid .masonry-entry.span_1_of_3 {
	width: 31.1%;
}

.masonry-grid .col {
	margin-right: 1.1%;
	margin-left: 1.1%;
	margin-bottom: 30px;
}

.loop-entry {
	margin-bottom: 20px;
	background: none repeat scroll 0% 0% #FFF;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.loop-entry-thumbnail a:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background:
		url('//1.bp.blogspot.com/-cvZlYBJ1BGc/U2hSoJ6BZDI/AAAAAAAABQs/b2SPN4hWxSU/s1600/image-overlay-icon.png')
		no-repeat scroll center center #000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease-in-out 0s;
}

.loop-entry-thumbnail a:hover:before {
	visibility: visible;
	opacity: 0.8;
}

.loop-entry-thumbnail a {
	display: block;
	position: relative;
}

.loop-entry-thumbnail img {
	box-shadow: 0 0 0 #000;
	border-radius: 3px 3px 0 0;
}

.loop-entry-thumbnail img {
	display: block;
	width: 100%;
}

.loop-entry-content {
	padding: 30px;
	color: #777;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

.loop-entry-title {
	position: relative;
	margin: 0 0 15px;
	font-size: 1.231em;
	line-height: 1.4em;
}

.loop-entry .wpex-readmore {
	display: inline-block;
}

.loop-entry .wpex-readmore a {
	line-height: 1.35em;
	display: block;
	background: none repeat scroll 0% 0% #F55230;
	color: #FFF;
	padding: 0 2px;
	text-decoration: none;
	font-weight: 400;
}

.loop-entry .wpex-readmore a:hover {
	background: none repeat scroll 0% 0% #272727;
	color: #FFF;
	text-decoration: none;
}

.loop-entry-thumbnail.vido a:before {
	background-image:
		url('//2.bp.blogspot.com/-foLqlgrfAkU/U2hYtzOPg_I/AAAAAAAABQ8/tyqN2O477V8/s1600/image-overlay-play-icon.png');
}

.loop-entry-meta {
	padding: 20px 30px;
	background:
		url('//1.bp.blogspot.com/-De-lsDCIYWM/U2gwE58NOrI/AAAAAAAABQc/ERJc961TvF4/s1600/entry-meta-shadow.png')
		no-repeat scroll center top #FBFBFB;
	border-radius: 0 0 3px 3px;
}

.loop-entry-meta .strong {
	color: #000;
	font-weight: 600;
	display: inline-block;
	margin-right: 4px;
}

#blog-wrap {
	position: relative;
}

.infinite-scroll-loader {
	text-align: center;
	z-index: 100;
	position: absolute;
	left: 45%;
	bottom: 40px;
	width: 150px;
	padding: 20px 0;
	font-size: 32px;
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	color: #a0a0a0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

#infscr-loading img {
	display: none !important;
}

.page-jump {
	display: none;
}
/* Labels
================================================== */
.list-label-widget-content ul, .list-label-widget-content li {
	list-style: none outide none;
}

.list-label-widget-content li a {
	color: #525252;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 16px;
	width: 168px;
}

.list-label-widget-content li span {
	border-radius: 3px;
	min-width: 40px;
	float: right;
	padding: 2px;
	margin-bottom: 5px;
	text-align: center;
	border: 1px solid #E2E2E2;
}

.list-label-widget-content li span:first-child {
	background: #F3F3F3;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	border-right: 10px solid;
	border-left: 10px solid;
	width: 149px !important;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 16px;
	width: 250px;
}

.list-label-widget-content li a:hover, #footer-nav .list-label-widget-content li a:hover
	{
	background: #F55230;
	color: #fff;
}

.cloud-label-widget-content .label-size {
	font-size: 100%;
	float: left;
}

.cloud-label-widget-content .label-size a {
	color: #666;
	float: left;
	font-size: 12px;
	margin: 0 5px 5px 0;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
}

.label-size a:hover, .label-size:hover a {
	background-color: #F55230;
	color: #FFF;
	text-decoration: none;
	transition: all 0.2s ease-out 0s;
}

.cloud-label-widget-content .label-size span {
	color: #666;
	float: left;
	font-size: 12px;
	margin: 0 5px 5px 0;
	padding: 5px;
	text-decoration: none;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
}

.cloud-label-widget-content .label-size span:first-child,
	.cloud-label-widget-content .label-size span:first-child span:nth-child(2)
	{
	background: #F55230;
	color: #FFF;
}
/* Copyright
================================================== */
#cr-nav {
	font-size: 12px;
	background-color: #333;
	color: #EEE;
	border-top: 1px solid #444;
}

#cr-wrapper {
	padding: 15px 0;
	text-align: left;
	width: 80%;
	margin: auto;
}

#cr-wrapper #cr-left {
	float: left;
	margin: 0;
}
/* 404 Page
================================================== */
#error-page {
	text-align: center;
}

#error-page-title {
	border: none;
	font-size: 7.5em;
	line-height: 1em;
	margin: 0 0 30px;
}

#error-page-title span {
	margin-right: 7px;
}

#error-page-text {
	font-size: 1.15em;
}
/* Back to top
================================================== */
.back-to-top {
	z-index: 999;
	position: fixed;
	display: none;
	background: #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	height: 45px;
	line-height: 45px;
	width: 45px;
	text-align: center;
	bottom: 30px;
	right: 30px;
	color: #fff;
	font-size: 18px;
}

.back-to-top:hover {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.back-to-top span {
	line-height: 45px;
}
/* social
================================================== */
.social-icons li {
	border: none !important;
	display: block;
	float: left;
}

.social-icons a {
	display: block;
	margin: 0 5px 5px 0;
	width: 30px;
	padding: 7px 0;
	height: 16px;
	text-align: center;
	font-size: 1.385em;
	color: #fff !important;
	background: #ec673c;
	background: #ed6c3f;
	background-image: -ms-linear-gradient(top, #ed6c3f 0%, #ec663b 100%);
	background-image: -moz-linear-gradient(top, #ed6c3f 0%, #ec663b 100%);
	background-image: -o-linear-gradient(top, #ed6c3f 0%, #ec663b 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed6c3f),
		color-stop(1, #ec663b));
	background-image: -webkit-linear-gradient(top, #ed6c3f 0%, #ec663b 100%);
	background-image: linear-gradient(to bottom, #ed6c3f 0%, #ec663b 100%);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 1px #f7a762;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.social-icons a:hover {
	color: #fff !important;
	opacity: 0.85;
}

.social-icons a {
	color: #fff !important;
	background: #F55230;
}

.social-icons a {
	box-shadow: inset 0 1px 1px #f7a762, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.social-icons a:hover {
	box-shadow: inset 0 1px 1px #f7a762, 0 2px 3px rgba(0, 0, 0, 0.3);
}

.social-icons a:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px
		rgba(0, 0, 0, 0.3);
}
/* flicker
================================================== */
.flickr a {
	margin-right: -10px;
}

.flickr a {
	display: block;
	width: 22%;
	max-width: 75px;
	float: left;
	margin-right: 2%;
	margin-bottom: 7px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flickr a img {
	display: block;
	width: 100%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flickr a:hover {
	opacity: 0.8;
}
/* Recent posts with thumb
================================================== */
.wpex-widget-recent-posts-li {
	margin: 0;
	font-size: 0.923em;
	min-height: 70px;
	padding-left: 85px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d7d7d7
}

.wpex-widget-recent-posts-li:first-child {
	padding-top: 10px;
	border-top: 1px solid #d7d7d7
}

.wpex-widget-recent-posts-thumbnail {
	position: absolute;
	left: 0;
	top: 10px;
	width: 65px;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out
}

.wpex-widget-recent-posts-li:first-child .wpex-widget-recent-posts-thumbnail
	{
	top: 15px
}

.wpex-widget-recent-posts-thumbnail:hover {
	opacity: 0.7
}

.wpex-widget-recent-posts-title {
	font-weight: bold;
	font-weight: 600;
	font-size: 1.231em
}

.wpex-widget-recent-posts-date {
	margin-top: 5px
}

.sidebar-widget .wpex-widget-recent-posts-thumbnail img {
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
}

.sidebar-container a:hover {
	color: #000;
	text-decoration: none;
}
/* Search
================================================== */
input[type="search"] {
	font-size: 1em;
	-moz-box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	background: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	outline: none;
	padding: 10px 12px;
	width: 100%;
	font-family: 'Open Sans', "Times New Roman", Times, serif;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

#footer input[type="search"] {
	border: none;
}
/* Desktop
================================================== */
@media only screen and (max-width: 1024px) {
	.list-label-widget-content li a {
		width: 70%;
	}
}
/* Smaller Then Desktop
================================================== */
@media only screen and (max-width: 959px) {
	a.navigation-toggle {
		display: block;
	}
	#site-navigation .main-nav {
		display: none;
	}
	.site-content.left-content.clr {
		width: 100% !important;
		max-width: 100% !important;
	}
	.sidebar-container {
		margin-top: 95px;
	}
}
/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		max-width: 620px;
		width: 85%;
	}
	.left-content {
		width: 100%;
		max-width: 100%;
	}
	.sidebar-container {
		width: 100%;
		max-width: 100%;
	}
	/*grids*/
	.masonry-grid .masonry-entry.span_1_of_3, .masonry-grid .masonry-entry.span_1_of_4
		{
		width: 47.6% !important;
	}
	#footer-widgets .span_1_of_4 {
		width: 47.6%;
	}
	#footer-widgets .span_1_of_4.col-3 {
		clear: both;
		margin-left: 0;
	}
}
/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
	.container {
		max-width: 480px;
		width: 90%;
	}
	.sidebar-container, .left-content {
		width: 100%;
		max-width: 100%;
	}
	.col {
		width: 100%;
		margin-left: 0;
		margin-bottom: 25px;
	}
	.masonry-grid {
		margin-left: 0;
		margin-right: 0;
	}
	.loop-entry, .post.hentry {
		width: 100% !important;
		margin: 0 0 25px !important;
	}
	.commentlist .children .comment-details {
		padding-left: 0 !important;
	}
	body .commentlist .children .comment-author {
		left: 40px !important;
	}
	#cancel-comment-reply-link {
		float: none;
	}
	.comment-permalink {
		display: none;
	}
	.comment-navigation .nav-next {
		text-align: left;
	}
	.wpex-mobile-nav-ul .wpex-mobile-dropdown-icon {
		right: 0;
	}
	article.post {
		height: auto !important;
	}
	.post-footer {
		position: relative !important;
	}
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidr {
		width: 480px;
	}
	.sidr.right {
		right: -480px;
	}
}
/* Mobile (Portrait only)
================================================== */
@media only screen and (max-width: 479px) {
}