

/**********************************************************/


.navbar-default {
    background-color: #F3F3F3;
}

/**********************************************************/
body{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}