

<nav class="navbar navbar-default navbar-fixed-top"
	style="z-index: 500; display: grid; display: -ms-grid;">



	<img src="../../assets/img/logo2.png"
		alt="{{ 'Medieval congress' | translate }}"
		style="height: 100px; margin-left: 50px; width: 329px; background-position: center; grid-column: 1; -ms-grid-row: 1; -ms-grid-column: 1;">

	<div class="container"
		style="grid-column: 2; -ms-grid-row: 1; -ms-grid-column: 2;">
		<!-- Brand and toggle get grouped for better mobile display -->






		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<li><a routerLink="admin" *ngIf="isAdmin()"><span>{{
							'Admin panel' | translate }}</span></a></li>
				<li><a routerLink="welcome"><span>{{ 'Registration'
							| translate }}</span></a></li>

				<li><a routerLink="news" *ngIf="isShowArticles()"><span>{{
							'News' | translate}}</span></a>
				<li><a routerLink="letter-of-intent"><span>{{
							'letter-of-intent' | translate }}</span></a></li>
				<li><a routerLink="workshops"><span>{{ 'Workshops' |
							translate }}</span></a></li>
				<li><a routerLink="lectures"><span>{{ 'Lectures' |
							translate }}</span></a></li>
				<li *ngIf="isShowMap()"><a routerLink="map"><span>{{
							'Address' | translate}}</span></a></li>
				<li><a routerLink="paymentInfo"><span>{{
							'PaymentInfo' | translate}}</span></a></li>
				<li><a routerLink="patronage"><span>{{ 'Patronage'
							|translate}}</span></a></li>
				<li><a routerLink="contact"><span>{{ 'Contact'
							|translate}}</span></a></li>
				<li *ngIf="isShowLinks()"><a routerLink="links"><span>{{
							'Links' | translate}}</span></a></li>

			</ul>
			<ul class="nav navbar-nav">
				<user-logged></user-logged>
				<languages>Loading...</languages>
			</ul>

		</div>

		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->

</nav>

