.app-header-content {
	width:100%;
	position: fixed;
	top: 0px;
	height: 110px;
	z-index: 10;
	background: #eeeeee;
	-webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

.app-header-title {
	text-align: center;
}

.app-header-login {
	text-align: right;
}

.app-header-lang {
	text-align: right;
}