<div class="contentUnderNewHeader">
	<div class="container">
		<div class="col-md-12"
			style="left: 50%; transform: translate(-50%); height: 380px;">
			<div class="home_text wow fadeInUp animated">
				<h2>
					<b>{{ 'Friends' | translate }}</b>
				</h2>
			</div>
			
			<div class="wow fadeInRight animated">
				<ol>
					<li [innerHTML]="'Institution1' | translate"></li>
					<li [innerHTML]="'Institution2' | translate"></li>
					<li [innerHTML]="'Institution3' | translate"></li>
					<li [innerHTML]="'Institution4' | translate"></li>
					<li [innerHTML]="'Institution5' | translate"></li>
					<li [innerHTML]="'Institution6' | translate"></li>
				</ol>
			</div>
		</div>

	</div>
</div>
