<div class="contentUnderNewHeader">
	<p-growl [value]="msgs"></p-growl>
	<p-confirmDialog></p-confirmDialog>

	<button pButton type="button" (click)="save()" icon="fa-check"
		class="ui-button-success" label="{{ 'Save' | translate}}"></button>

	<button pButton type="button" (click)="cancel()" icon="fa-close"
		class="ui-button-warning" label="{{ 'Cancel' | translate}}"></button>


	<br /> <br />

	<div class="redAlert" *ngIf="requiredFieldsAlertVisible()">
		<span class="closebtn"
			onclick="this.parentElement.style.display='none';">&times;</span> {{
		'requiredFieldsAlert' | translate }}
	</div>

	<div class="greenAlert" *ngIf="saveSuccessAlertVisible()">
		<span class="closebtn"
			onclick="this.parentElement.style.display='none';">&times;</span> {{
		'saveSuccess' | translate }}
	</div>

	<div class="greenAlert" *ngIf="passwordChangedAlertVisible()">
		<span class="closebtn"
			onclick="this.parentElement.style.display='none';">&times;</span> {{
		'passwordChangedAlert' | translate }}
	</div>


	<div class="panel panel-primary dialog-panel">
		<div class="panel-heading">
			<h5>{{ 'EnrolmentStatus' | translate}}</h5>
		</div>

		<div class="panel-body">
			<div class="form-horizontal">
			<div class="form-group">

				<label class="control-label col-md-2 col-md-offset-2" for="capacity">{{
					'Enrolment' | translate }}</label>

				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-11">

							<label class="control-label" *ngIf="isAccepted()" for="capacity">{{
								'EnrolmentAccepted' | translate }}</label> <label class="control-label"
								*ngIf="isRejected()" for="capacity">{{
								'EnrolmentRejected' | translate }}</label> <label class="control-label"
								*ngIf="isAcceptationPending()" for="capacity">{{
								'EnrolmentWaiting' | translate }}</label>

							<button pButton type="button" (click)="accept()" icon="fa-check"
								*ngIf="isAcceptationPending()" style="margin-top: 5px;"
								class="ui-button-success" label="{{ 'Accept' | translate}}"></button>

							<button pButton type="button" (click)="confirmReject()"
								icon="fa-close" *ngIf="isAcceptationPending()"
								style="margin-top: 5px;" class="ui-button-danger"
								label="{{ 'Reject' | translate}}"></button>


							<button pButton type="button" (click)="confirmReject()"
								icon="fa-close" *ngIf="isAccepted()" style="margin-top: 5px;"
								class="ui-button-danger"
								label="{{ 'cancelConfirmation' | translate}}"></button>


							<button pButton type="button" (click)="accept()" icon="fa-check"
								*ngIf="isRejected()" style="margin-top: 5px;"
								class="ui-button-success" label="{{ 'Accept' | translate}}"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2 col-md-offset-2" for="capacity">{{
					'Paid' | translate }}</label>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-11">

							<input type="text" pInputText [(ngModel)]="user.payment" />
						</div>
					</div>
				</div>


				<label class="control-label col-md-2 col-md-offset-2" for="capacity">{{
					'Payment Status' | translate }}</label>


				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-11">
							<label class="control-label" *ngIf="isPaymentAccepted()"
								for="capacity">{{ 'PaymentAccepted' | translate }}</label> <label
								class="control-label" *ngIf="isPaymentAcceptationPending()"
								for="capacity">{{ 'PaymentWaiting' | translate }}</label>

							<button pButton type="button" (click)="acceptPayment()"
								icon="fa-check" *ngIf="isPaymentAcceptationPending()"
								style="margin-top: 5px;" class="ui-button-success"
								label="{{ 'Accept' | translate}}"></button>


							<button pButton type="button" (click)="confirmPaymentReject()"
								icon="fa-close" *ngIf="isPaymentAccepted()"
								style="margin-top: 5px;" class="ui-button-danger"
								label="{{ 'cancelConfirmation' | translate}}"></button>


						</div>
					</div>
				</div>


				<br />

				<div class="col-md-11">
					<div class="form-group">
						<label class="control-label col-md-2 col-md-offset-2"
							for="invoice">{{ 'wantInvoice' | translate }}</label>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-11">
									<p-checkbox [(ngModel)]="user.invoice" name="invoice"
										binary="true"></p-checkbox>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br />
				<div class="col-md-11">
					<div class="form-group">
						<label class="control-label col-md-2 col-md-offset-2"
							for="invoiceData">{{ 'InvoiceData' | translate }}</label>
						<div class="form-group">
							<div class="col-md-6">
								<textarea class="form-control" id="invoiceData"
									[(ngModel)]="user.invoice_data" name="invoiceData"
									placeholder="{{ 'InvoiceData' | translate }}" rows="3"></textarea>
							</div>
						</div>
					</div>

				</div>
				<br />
				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'Accomodation' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-checkbox [(ngModel)]="user.accommodation" name="accomodation"
									binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="col-md-11">
					<div class="form-group" *ngIf="showAccomodation()">
						<label class="control-label col-md-2 col-md-offset-2"
							for="capacity">{{ 'AccomodationDate' | translate }}</label>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-11">
									<p-calendar [(ngModel)]=user.accommodation_from
										[minDate]="minDate" [maxDate]="maxDate" readonlyInput="true"
										[defaultDate]="defaultDate" name="accomodationFrom"></p-calendar>
									-
									<p-calendar [(ngModel)]=user.accommodation_to
										[minDate]="minDate" [maxDate]="maxDate" readonlyInput="true"
										[defaultDate]="defaultDate" name="accomodationTo"></p-calendar>

								</div>

							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="col-md-11">
					<div class="form-group">
						<label class="control-label col-md-2 col-md-offset-2"
							for="camealpacity">{{ 'meal' | translate }}</label>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-11">
									<p-selectButton [options]="mealOptions"
										[(ngModel)]="selectedMeal" id="meal" name="meal"></p-selectButton>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-11">
					<div class="form-group">
						<label class="control-label col-md-2 col-md-offset-2"
							for="lactose_intolerance">{{ 'lactose_intolerance' |
							translate }}</label>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-11">
									<p-checkbox [(ngModel)]="user.lactose_intolerance"
										name="lactose_intolerance" binary="true"></p-checkbox>
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>




		</div>
	</div>
	</div>

	<div class="panel panel-primary dialog-panel">
		<div class="panel-heading">
			<h5>{{ 'Personal data' | translate}}</h5>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" accept-charset="utf-8">
				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="id_title">{{ 'Name' | translate }}</label>
					<div class="col-md-8">
						<div class="col-md-4">
							<div class="form-group internal">
								<input [class]="userForm.name" id="id_first_name"
									placeholder="{{ 'First name' | translate }}" name="firstName"
									[(ngModel)]="user.name" type="text">
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="form-group internal">
								<input [class]="userForm.surname" id="id_last_name"
									placeholder="{{ 'Surname' | translate }}" name="surname"
									[(ngModel)]="user.surname" type="text">
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'academic_status' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-selectButton [options]="academicStatuses"
									[(ngModel)]="selectedAcademicStatus" id="academic-title"
									name="academicStatus"></p-selectButton>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group" *ngIf="showStudentOptions()">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'engineer' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-checkbox [(ngModel)]="user.engineer" name="studentengineer"
									binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group" *ngIf="showStudentOptions()">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'master' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-checkbox [(ngModel)]="user.master" name="studentmaster"
									binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" *ngIf="showAcademicTitle()">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'Degree' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-selectButton [options]="academicTitles"
									[(ngModel)]="selectedAcademicTitle" id="academic-title"
									name="academicTitle"></p-selectButton>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group" *ngIf="showAcademicTitle()">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'engineer' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-checkbox [(ngModel)]="user.engineer" name="engineer"
									binary="true"></p-checkbox>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="id_email">{{ 'Email' | translate }} *</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<input [class]="userForm.email" id="id_email"
									placeholder="{{ 'Email' | translate }}" type="text"
									[(ngModel)]="user.email" name="email">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">

					<label class="control-label col-md-2 col-md-offset-2"
						for="id_phone">{{ 'Phone' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<input class="form-control" id="id_phone"
									[(ngModel)]="user.phone" name="phone"
									placeholder="{{ 'Phone' | translate }}" type="text">
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="capacity">{{ 'Capacity' | translate }}</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-selectButton [options]="types"
									[(ngModel)]="selectedCongressRole" id="character-role"
									name="character"></p-selectButton>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="university">{{ 'University' | translate }} *</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<p-autoComplete placeholder="{{ 'University' | translate }}"
									[(ngModel)]="user.university" [suggestions]="results"
									(completeMethod)="search($event)" required name="university"
									id="university"></p-autoComplete>
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="id_comments">{{ 'Remarks' | translate }}</label>
					<div class="col-md-6">
						<textarea class="form-control" id="id_comments"
							[(ngModel)]="user.contactcomments" name="comments"
							placeholder="{{ 'Remarks' | translate }}" rows="3"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-4 col-md-3">
						<button class="btn-lg btn-primary" (click)="save()">{{
							'Save' | translate }}</button>
					</div>
					<div class="col-md-3">
						<button class="btn-lg btn-danger" style="float: right"
							(click)="resetChanges()">{{ 'Reset' | translate }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-primary dialog-panel">
		<div class="panel-heading">
			<h5>{{ 'Change password' | translate}}</h5>
		</div>

		<div class="panel-body">
			<form class="form-horizontal" accept-charset="utf-8">

				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="id_email">{{ 'Password' | translate }} *</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<input [class]="userForm.password1" id="id_email"
									placeholder="{{ 'Password' | translate }}" type="password"
									[(ngModel)]="password1" name="password">
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-2 col-md-offset-2"
						for="id_email">{{ 'Repeat password' | translate }} *</label>
					<div class="col-md-6">
						<div class="form-group">
							<div class="col-md-11">
								<input [class]="userForm.password2" id="id_email"
									placeholder="{{ 'Repeat password' | translate }}"
									type="password" [(ngModel)]="password2" name="repeatPassword">
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<div class="col-md-offset-4 col-md-3">
						<button class="btn-lg btn-primary" (click)="changePassword()">{{
							'Change password' | translate }}</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<br />
	<button pButton type="button" label="{{ 'show-history' | translate}}"
		(click)="getUserHistory()"></button>

	<br /> <br />
	<admin-enrolment-history [userHistory]="userHistory">Loading...</admin-enrolment-history>

</div>