<header id="HOME" style="background-position: 50% -125px;">
	<div class="section_overlay" style="height: 666px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="home_text wow fadeInUp animated">
						<h2>
							<b>{{ 'Medieval congress' | translate }}</b>
						</h2>
						<div class="city_title">
							<b>{{ 'congressDatePlace' | translate }}</b>
						</div>
						<img src="../../assets/img/kongres.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="col-md-8 text-center">
	<registration-info></registration-info>
</div>

<br />

<div class="container">
	<div class="row">
		<div class="col-md-8"
			style="left: 50%;
	/* bring your own prefixes */ transform: translate(-50%);">
			<login-register></login-register>
		</div>
	</div>
</div>



