


<header id="HOME" style="background-position: 50%">

	<div class="section_overlay" style="height: 500px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="home_text wow fadeInUp animated">
						<h2>
							<b>{{ 'Medieval congress' | translate }}</b>
						</h2>
						<h3>
							<b>{{ 'congressDatePlace' | translate }}</b>
						</h3>
						<img src="../../assets/img/kongres.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="col-md-8"
	style="left: 50%; transform: translate(-50%); padding-top: 30px;">
	<registration-info></registration-info>
</div>

<br />

<div class="container" style="padding-top: 60px;">
	<div class="row">
		<div class="col-md-8" style="left: 50%; transform: translate(-50%);">
			<login-register></login-register>
		</div>
	</div>
</div>

	<organizers></organizers>

<div class="container" style="padding-top: 60px;">
	<div>
		<logo></logo>
	</div>
</div>

