
<div class="contentUnderNewHeader">

<header id="HOME" style="background-position: 50%">

	<div class="section_overlay" style="height: 500px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="home_text wow fadeInUp animated">
						<h2>
							<b>{{ 'Medieval congress' | translate }}</b>
						</h2>
						<h3>
							<b>{{ 'congressDatePlace' | translate }}</b>
						</h3>
						<img src="../../assets/img/kongres.jpg" alt="">

						
					</div>
				</div>
			</div>
		</div>
	</div>
</header>



		
		<hr/>
		<div class="container">
		
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>{{ 'patronsandorganizers' | translate }}</h2>
				</div>
			</div>
		</div>
		
		<br />
		
		
			<div class="row">
 <div class="wow fadeInRight animated text-center" style="width: 800px; margin-left: 200px;">
 
 <div style="float: left;">
 <img src="../../assets/img/marszalek.JPG"  style="height: 180px;  background-position: center;">
 </div>
 <div style="float: right;">
		<img src="../../assets/img/prezydent.jpg"  style="height: 180px;  background-position: center;">
		<h4 [innerHTML]="'PatronagePresident' | translate"></h4>
		</div>
		</div>
		</div>
		</div>
		<hr/>
		
		
		<div class="wow fadeInRight animated text-center">
		<img src="../../assets/img/MNiSW.jpg"  style="height: 150px;">
		<h4 [innerHTML]="'MinInfo' | translate"></h4>
		</div>
		
	<hr/>
 <div class="wow fadeInRight animated text-center">
		<img src="../../assets/img/KGHM_PM_Logo.png"  style="height: 160px;  background-position: center;">
		</div>
<hr/>

 <div class="wow fadeInRight animated text-center">
		<img src="../../assets/img/posart.png"  style="height: 120px;  background-position: center;">
		</div>
<hr/>

		
		<div class="wow fadeInLeft animated text-center">
		<img src="../../assets/img/tvp.JPG"  style="height: 300px;  background-position: center;">
		</div>
		
		<hr/>
		
<div class="wow fadeInLeft animated text-center">
			<img src="../../assets/img/loga.png" style="height: 180px;  background-position: center;">
		</div>
<hr/>
	<br/>
<div class="row">
<div class="wow fadeInRight animated text-center">
 <div  style="width: 800px; margin-left: 500px;">
 
 <div style="float: left;">
		<img src="../../assets/img/pwt.jpg"  style="height: 130px;  background-position: center;">
		

		</div>
		
		 <div style="float: right;">
		<img src="../../assets/img/buwr.jpg"  style="height: 130px;  background-position: center;">
		
<h4 [innerHTML]="'Cooperation2' | translate"></h4>
		</div>
		
		</div>
		</div>
		</div>
		
<hr/>



	<organizers></organizers>




<div class="col-md-8"
	style="left: 50%; transform: translate(-50%); padding-top: 30px;">
	<registration-info></registration-info>
</div>

<br/>
<br />

<div class="container" style="padding-top: 70px;">
	<div class="row">
		<div class="col-md-8" style="left: 50%; transform: translate(-50%);">
			<login-register></login-register>
		</div>
	</div>
</div>

</div>
