<br/>
<div class="logmod__container">
	<ul class="logmod__tabs">
		<li data-tabtar="lgm-1" (click)="changeToRegister()"
			[class.current]="!loginTabVisible">{{ 'Sign Up' | translate }}</li>
		<li data-tabtar="lgm-2" (click)="changeToLogin()"
			[class.current]="loginTabVisible">{{ 'Login' | translate }}</li>
	</ul>

</div>

<div [hidden]="loginTabVisible">
	<div class="logmod__heading">
		<span class="logmod__heading-subtitle">{{ 'Enter your details'
			| translate }} <strong>{{ 'to create an account' | translate
				}}</strong>
		</span>
	</div>
	<div class="logmod__form">
		<form (ngSubmit)="registerUser()" accept-charset="utf-8"
			#heroForm="ngForm" class="simform" name="registerForm">
			<div class="sminputs">
				<div [class]="registerForm.email">
					<label class="string optional" for="user-email">{{ 'Email'
						| translate }}*</label> <input [(ngModel)]="user.email"
						class="string optional" name="email" required maxlength="255"
						id="user-email" placeholder="{{ 'Email' | translate }}"
						type="email" size="50" />

				</div>
			</div>
			<div class="sminputs">
				<div [class]="registerForm.password">
					<label class="string optional" for="user-pw">{{ 'Password'
						| translate }} *</label> <input class="string optional" maxlength="255"
						id="user-pw" required [(ngModel)]="user.password" name="password"
						placeholder="{{ 'Password' | translate }}" type="password"
						size="50" />
				</div>
				<div [class]="registerForm.repeatPassword">
					<label class="string optional" for="user-pw-repeat">{{
						'Repeat password' | translate }} *</label> <input class="string optional"
						maxlength="255" [(ngModel)]="repeatPassword" name="passwordRepeat"
						required id="user-pw-repeat"
						placeholder="{{ 'Repeat password' | translate }}" type="password"
						size="50" />
				</div>
			</div>

			<div class="sminputs">
				<div [class]="registerForm.username">
					<label class="string optional" for="user-name">{{ 'First name' | translate }} *</label> <input class="string optional"
						maxlength="255" id="user-name" required [(ngModel)]="user.name"
						name="name" placeholder="{{ 'First name' | translate }}"
						type="text" size="50" />
				</div>
				<div [class]="registerForm.usersurname">
					<label class="string optional" for="user-surname">{{
						'Surname' | translate }} *</label> <input class="string optional"
						maxlength="255" required [(ngModel)]="user.surname" name="surname"
						id="user-surname" placeholder="{{ 'Surname' | translate }}"
						type="text" size="50" />
				</div>
			</div>


			<div class="sminputs">
				<div class="input string optional">
					<label class="string optional" for="user-university">{{
						'University' | translate }}</label>

					<p-autoComplete placeholder="{{ 'University' | translate }}"
					    
						[(ngModel)]="user.university" [suggestions]="results"
						(completeMethod)="search($event)" required name="university"
						id="user-university"></p-autoComplete>


				</div>
				<div class="input string optional">
					<label class="string optional" for="user-phone">{{ 'Phone'
						| translate }}</label> <input [(ngModel)]="user.phone" name="phone"
						class="string optional" maxlength="255" id="user-phone"
						placeholder="{{ 'Phone' | translate }}" type="text" size="50" />
				</div>

			</div>

			<div class="sminputs">
				<div class="input full">
					<label class="string optional" for="user-contactComments">{{
						'Remarks' | translate }}</label> <input class="string optional"
						maxlength="2000" id="user-contactComments"
						[(ngModel)]="user.contactcomments" name="comments"
						placeholder="{{ 'Remarks' | translate }}" type="text" size="2000" />
				</div>
			</div>
			<div class="sminputs">
				<div class="input full">
					<label class="string optional" for="character-role">{{
						'Capacity' | translate }}</label>

					<p-selectButton [options]="types" [(ngModel)]="selectedType"
						id="character-role" name="character"></p-selectButton>

				</div>
			</div>

			<div class="sminputs" [hidden]="!isSpeakerPartsVisible()">
				<div class="input full">
					<label class="string optional" for="user-subjectDescription">{{
						'Topic' | translate }}</label> <input class="string optional"
						maxlength="255" id="user-subjectDescription"
						[(ngModel)]="user.subjectdescription" name="subjectDescription"
						placeholder="{{ 'Topic' | translate }}" type="text" size="50" />
				</div>
			</div>

			<div class="simform__actions">
				<input class="submit" name="commit" type="submit"
					value="{{ 'Create account' | translate }}" /> <span
					[class]="registerForm.terms"> <p-checkbox
						[(ngModel)]="termsAcceptation" name="checkbox" binary="true"
						required></p-checkbox> {{ 'Agree rules info' | translate }} <a
					[routerLink]="['terms']"><span>{{ 'Terms' | translate}}</span></a>
				</span>
			</div>
		</form>
	</div>
</div>

<div [hidden]="!loginTabVisible">
	<div class="logmod__heading">
		<span class="logmod__heading-subtitle">{{ 'EnterYourEmail' |
			translate }} <strong>{{ 'to sign in' | translate }}</strong>
		</span>
	</div>
	<div class="logmod__form">
		<form accept-charset="utf-8" action="#" class="simform"
			(submit)="login()">
			<div class="sminputs">
				<div [class]="loginForm.email">
					<label class="string optional" for="user-email">{{ 'Email'
						| translate }} *</label> <input class="string optional"
						[(ngModel)]="loginEmail" maxlength="255" id="user-email" required
						name="email" placeholder="{{ 'Email' | translate }}" type="email"
						size="50" />
				</div>
			</div>
			<div class="sminputs">
				<div [class]="loginForm.password">
					<label class="string optional" for="user-pw">{{ 'Password'
						| translate }} *</label> <input class="string optional"
						[(ngModel)]="password" maxlength="255" id="user-pw" required
						name="password" placeholder="{{ 'Password' | translate }}"
						[type]="passwordType" size="50" /> <span
						*ngIf="isPasswordHidden()" class="hide-password"
						(click)="showPassword()">{{ 'Show' | translate }}</span><span
						*ngIf="isPasswordVisible()" class="hide-password"
						(click)="hidePassword()">{{ 'Hide' | translate }}</span>
				</div>
			</div>
			<div class="simform__actions">
				<input class="submit" type="submit" name="commit" type="submit"
				value="{{ 'Log In' | translate }}" />
				<span class="simform__actions-sidetext"><a class="special"
					role="link" [routerLink]="['forgot-password']">{{
						'ForgotPassword' | translate }}?<br>{{ 'Click here' |
						translate }}
				</a></span>
			</div>
		</form>

		<div class="redAlert" *ngIf="incorrectLoginDataAlertVisible()">
			<span class="closebtn"
				onclick="this.parentElement.style.display='none';">&times;</span> {{
			'incorrectLoginDataInfo' | translate }}
		</div>

		<div class="yellowAlert" *ngIf="noLoginRightsAlertVisible()">
			<span class="closebtn"
				onclick="this.parentElement.style.display='none';">&times;</span> {{
			'noConfirmationInfo' | translate }}
		</div>
	</div>
</div>


