
<p-confirmDialog></p-confirmDialog>


<label class="control-label" *ngIf="isPaymentAccepted()" for="capacity">{{
	'PaymentAccepted' | translate }}</label>
<label class="control-label" *ngIf="isPaymentAcceptationPending()"
	for="capacity">{{ 'noPayment' | translate }}</label>

<button pButton type="button" (click)="acceptPayment()" icon="fa-check"
	*ngIf="isPaymentAcceptationPending()" style="margin-top: 5px;"
	class="ui-button-success" label="{{ 'Accept' | translate}}"></button>


<button pButton type="button" (click)="confirmPaymentReject()"
	icon="fa-close" *ngIf="isPaymentAccepted()" style="margin-top: 5px;"
	class="ui-button-danger" label="{{ 'cancelConfirmation' | translate}}"></button>

