<div class="contentUnderNewHeader">





	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h3>
						<a href="../../assets/files/Program.docx" download>{{
							'DownloadProgram' | translate }} </a>
					</h3>
					<h3>
						<a href="../../assets/files/Ramowy plan obrad.docx" download>{{
							'DownloadLecturesPlan' | translate }} </a>
					</h3>
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h1>{{ 'LecturesPlan' | translate }}</h1>
				</div>
			</div>
		</div>
	</div>



	

	<hr />

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>
						<b>{{ 'LecturesPlanThursday' | translate }}</b>
					</h2>
				</div>
				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanThursday1' | translate }}</b>
					</h3>
					<br />
					<h4>{{ 'LecturesPlanThursday1Content1' | translate }}</h4>
					<h4>{{ 'LecturesPlanThursday1Content2' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanThursday1a' | translate }}</b>
					</h3>
					<br />
					<h4>{{ 'LecturesPlanThursday1Content3' | translate }}</h4>
					<h4>{{ 'LecturesPlanThursday1Content4' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanThursday2' | translate }}</b>
					</h3>
					<br />

					<table style="width: 100%">
						<tr>
							<td [innerHTML]="'LecturesPlanThursday2Table1' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table2' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table3' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table4' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table5' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table6' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday2Table7' | translate"></td>
						</tr>
					</table>

					<br />

					<h4>{{ 'Dinner' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanThursday3' | translate }}</b>
					</h3>
					<br />
					<table style="width: 100%">
						<tr>
							<td [innerHTML]="'LecturesPlanThursday3Table1' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table2' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table3' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table4' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table5' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table6' | translate"></td>
							<td [innerHTML]="'LecturesPlanThursday3Table7' | translate"></td>
						</tr>
					</table>
					<br />
					<h4>{{ 'LecturesPlanThursday3Content1' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanThursday4' | translate }}</b>
					</h3>
					<br />
				</div>
			</div>
		</div>
	</div>


	<hr />

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>
						<b>{{ 'LecturesPlanFriday' | translate }}</b>
					</h2>
				</div>
				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanFriday1' | translate }}</b>
					</h3>
					<br />
					<table style="width: 100%">
						<tr>
							<td [innerHTML]="'LecturesPlanFriday1Table1' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table2' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table3' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table4' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table5' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table6' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table7' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday1Table8' | translate"></td>
						</tr>
					</table>
					<br />
					<h4>{{ 'LecturesPlanFriday1Content1' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanFriday2' | translate }}</b>
					</h3>
					<br />
					<h4>{{ 'LecturesPlanFriday2Content1' | translate }}</h4>
					<h4>{{ 'LecturesPlanFriday2Content2' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanFriday3' | translate }}</b>
					</h3>
					<br />

					<table style="width: 100%">
						<tr>
							<td [innerHTML]="'LecturesPlanFriday3Table1' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table2' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table3' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table4' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table5' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table6' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table7' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table8' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table9' | translate"></td>
							<td [innerHTML]="'LecturesPlanFriday3Table10' | translate"></td>
						</tr>
					</table>
					<br />
					<h4>{{ 'LecturesPlanFriday3Content1' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanFriday4' | translate }}</b>
					</h3>
					<br />
				</div>
			</div>
		</div>
	</div>
	<hr />

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>
						<b>{{ 'LecturesPlanSaturday' | translate }}</b>
					</h2>
				</div>
				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanSaturday1' | translate }}</b>
					</h3>
					<br />

					<table style="width: 100%">
						<tr>
							<td [innerHTML]="'LecturesPlanSaturday1Table1' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table2' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table3' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table4' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table5' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table6' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table7' | translate"></td>
							<td [innerHTML]="'LecturesPlanSaturday1Table8' | translate"></td>
						</tr>
					</table>
					<br />
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanSaturday2' | translate }}</b>
					</h3>
					<br />
					<h4>{{ 'LecturesPlanSaturday2Content1' | translate }}</h4>
					<h4>{{ 'LecturesPlanSaturday2Content2' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanSaturday3' | translate }}</b>
					</h3>
					<br />
					<h4>{{ 'LecturesPlanSaturday3Content1' | translate }}</h4>
				</div>

				<br />
				<div class="about_title">

					<h3>
						<b>{{ 'LecturesPlanSaturday4' | translate }}</b>
					</h3>
				</div>

			</div>
		</div>
	</div>
	<br />
	<hr />
	<br /> <br /> <br />
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h1>{{ 'LecturesS' | translate }}</h1>
				</div>
			</div>
		</div>
	</div>



	<hr />

	<div class="container">

		<lecture *ngFor="let lecture of lectures" [lecture]="lecture">
		</lecture>


		<br /> <br /> <br /> <br /> <br /> <br />
	</div>