<div style="margin-left: 870px; padding-top: 0px;">


		<div class="col-md-8" style="padding-right:5px; text-align:right;">
			<a routerLink="user-profile" *ngIf="isLogged()">{{ 'Welcome' | translate }} {{username}}</a>

		</div>
		<div class="col-md-4 ">
			<button pButton type="button" icon="fa-sign-out" *ngIf="isLogged()"
				(click)="logout()" label="{{ 'Log out' | translate}}"></button>
			<a routerLink="welcome" *ngIf="false">{{ 'Log in' | translate }}</a>
		</div>
	</div>




