
<button pButton type="button" (click)="showAll()"
	label="{{ 'Show all applicants' | translate}}"
	[ngClass]="showAllEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showAcepted()"
	label="{{ 'Show accepted' | translate}}"
	[ngClass]="showAcceptedEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showPending()"
	label="{{ 'Show pending requests' | translate}}"
	[ngClass]="showPendingEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showRejected()"
	label="{{ 'Show rejected' | translate}}"
	[ngClass]="showRejectedEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showSpeakers()"
	label="{{ 'Show speakers' | translate}}"
	[ngClass]="showSpeakersEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showPaymentAccepted()"
	label="{{ 'ShowPaymentAccepted' | translate}}"
	[ngClass]="showPaymentAcceptedEnabled?'ui-button-success':'btn btn-primary'"></button>

<button pButton type="button" (click)="showPaymentPending()"
	label="{{ 'ShowPaymentPending' | translate}}"
	[ngClass]="showPaymentPendingEnabled?'ui-button-success':'btn btn-primary'"></button>

<br />

<ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
