<p>
  Lista zgloszen na kongres:
</p>

{{response}}getHelloResponse()
<div class="panel panel-default">
            <div class="panel-heading">{{enrolment.name}}</div>
            <div class="panel-body">
                {{enrolment.surname}}
            </div>
            <div class="panel-footer">
                <button class="btn btn-info" (click)="getEnrolments()"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger" (click)="getHelloResponse()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
