
<div id='cssmenu'>
	<ul>
		<li><a href='#'><span>Home</span></a></li>
		<li class='active has-sub'><a routerLink="news"><span>Aktualnosci</span></a>
			<ul>
				<li class='has-sub'><a href='#'><span>Product 1</span></a>
					<ul>
						<li><a href='#'><span>Sub Product</span></a></li>
						<li class='last'><a href='#'><span>Sub Product</span></a></li>
					</ul></li>
				<li class='has-sub'><a href='#'><span>Product 2</span></a>
					<ul>
						<li><a href='#'><span>Sub Product</span></a></li>
						<li class='last'><a href='#'><span>Sub Product</span></a></li>
					</ul></li>
			</ul></li>
		<li><a routerLink="application-form"><span>Formularz
					rejestracji</span></a></li>
		<li><a routerLink="enrolments"><span>Lista zgloszen</span></a></li>
		<li><a routerLink="login"><span>Tymczasowo tutaj login</span></a></li>
		<li><a routerLink="login-register"><span>Login
					register</span></a></li>
		<li><a routerLink="map"><span>Dojazd</span></a></li>
		<li><a routerLink="admin"><span>Panel admina</span></a></li>
		<li class='active has-sub'><a routerLink="news"><span>Artykuly</span></a>
			<ul>
				<li class='has-sub'><a href='#'><span>Wczesne
							sredniowiecze</span></a>
					<ul>
						<li><a href='#'><span>Lata 800 - 1000</span></a></li>
						<li class='last'><a href='#'><span>Lata 1000 -
									1100</span></a></li>
					</ul></li>
				<li class='has-sub'><a href='#'><span>Jesien
							sredniowiecza</span></a>
					<ul>
						<li><a href='#'><span>Sekcja a</span></a></li>
						<li class='last'><a href='#'><span>Sekcja b</span></a></li>
					</ul></li>
			</ul></li>
		<li><a routerLink="art1"><span>Szablon 1</span></a></li>
		<li><a routerLink="art2"><span>Szablon 2</span></a></li>
		<li><a routerLink="art3"><span>Szablon 3</span></a></li>
		<li><a routerLink="contact"><span>Kontakt</span></a></li>
	</ul>
</div>