<div class="contentUnderNewHeader">

<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>{{ 'patronage-title' | translate }}</h2>
				</div>
			</div>
		</div>
	</div>
	
	

<hr/>

<div class="container">
		<div class="wow fadeInLeft animated text-center">
			<h3 [innerHTML]="'rektor-title' | translate"></h3>

		</div>

		<div class="wow fadeInRight animated text-center">
			<h4  [innerHTML]="'rektor-name' | translate"></h4>
		</div>
		

<h3>
 
</h3>
<h4>
  
</h4>

<hr/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>