
<div class="container">

	<form (ngSubmit)="submitEnrolment()" [hidden]="submitted"
		#heroForm="ngForm">
		<h1>{{ 'Enrolment form' | translate}}</h1>
		<div class="form-group">
			<label for="name">{{ 'First name' | translate }}</label> <input
				type="text" class="form-control" id="name" required
				[(ngModel)]="enrolment.name" name="name">
		</div>

		<div class="form-group">
			<label for="surname">{{ 'Surname' | translate }}</label> <input
				type="text" class="form-control" id="surname" required
				[(ngModel)]="enrolment.surname" name="surname">
		</div>

		<div class="form-group">
			<label for="email">{{ 'E-mail' | translate }}</label> <input
				type="text" class="form-control" [(ngModel)]="enrolment.email"
				id="email" required name="email">
		</div>

		<div class="form-group">
			<label for="university">Afiliacja</label> <br />
			<p-autoComplete [(ngModel)]="enrolment.university"
				[suggestions]="results" (completeMethod)="search($event)" required
				name="university"></p-autoComplete>

		</div>

		<div class="form-group">
			<label for="phone">{{ 'Phone' | translate }}</label> <br />
			<p-inputMask mask="999-999-999" name="phone"></p-inputMask>
		</div>

		<h3 class="first">Basic</h3>
		<div class="ui-g" style="width: 250px; margin-bottom: 10px">
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 1" label="Option 1"
					[(ngModel)]="val1"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 2" label="Option 2"
					[(ngModel)]="val1"></p-radioButton>
			</div>
			<div class="ui-g-12">
				<p-radioButton name="group1" value="Option 3" label="Option 3"
					[(ngModel)]="val1"></p-radioButton>
			</div>


			Selected Value = {{val1||'none'}}


			<div class="form-group">
				<input type="text" size="30" pInputText name="abstract"
					[(ngModel)]="abstrakt">

			</div>

		</div>


		<button class="btn btn-success">Wyslij zgloszenie</button>


	</form>

	<div [hidden]="!submitted">
		<h2>Dziêkujemy za zg³oszenie.</h2>
		<div class="row">
			<div class="col-xs-3">Imie</div>
			<div class="col-xs-9  pull-left">{{ enrolment.name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Nazwisko</div>
			<div class="col-xs-9 pull-left">{{ enrolment.surname }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Email</div>
			<div class="col-xs-9 pull-left">{{ enrolment.email }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Date</div>
			<div class="col-xs-9 pull-left">{{ enrolment.date |
				date:'dd-MM-yyyy' }}</div>
		</div>
		<br>
		<button class="btn btn-primary" (click)="newEnrolment()">Dodaj
			kolejne zgloszenie</button>
	</div>

</div>