<div class="contentUnderNewHeader">


	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>{{ 'PaymentInfo' | translate }}</h2>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="container">
		<div class="wow fadeInLeft animated">
			<p class="about_us_p" [innerHTML]="'paymentInfo-1' | translate"></p>

		</div>

		<div class="wow fadeInRight animated">
			<p class="about_us_p" [innerHTML]="'paymentInfo-2' | translate"></p>
		</div>

		<div class="wow fadeInLeft animated">
			<ol>
				<li class="about_us_p" [innerHTML]="'paymentInfo-3' | translate"></li>
				<li class="about_us_p" [innerHTML]="'paymentInfo-4' | translate"></li>
				<li class="about_us_p" [innerHTML]="'paymentInfo-5' | translate"></li>
			</ol>
		</div>
		
		<div class="wow fadeInRight animated">
			<p class="about_us_p" [innerHTML]="'paymentInfo-6' | translate"></p>
		</div>
	</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>