<div class="fun_facts">
	<section class="header parallax home-parallax page" id="fun_facts"
		style="background-position: 50% -150px;">
		<div class="section_overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft animated">
						<div class="row">
							<div>
								<div class="single_count">
									<div class="committee">
										<b>Komitet naukowy</b>
									</div>
									<p>
										<b>Prezydium:</b> Prof. dr hab. Jerzy Strzelczyk, Prof. dr
										hab. Leszek S³upecki, <br />Prof. dr hab. Roœcis³aw ¯erelik
									</p>
									<p>
										Prof. dr hab. Jan Burdukiewicz, Prof. dr hab. Przemys³aw
										Wiszewski, <br />Prof. dr hab. Marek Derwich, Prof. dr hab.
										Maciej Go³¹b, Dr hab. Prof. UWr, Krzysztof Jaworski, Dr hab.
										Prof. UWr Barbara Jêdrychowska, Prof. dr hab. Miros³aw Kocur,<br />
										Prof. dr hab. Jerzy Piekalski, Prof. UWr dr hab. Jacek
										Zieliñski
									</p>

									<div class="committee">
										<b>Komitet organizacyjny</b>
									</div>
									<p>
										Prof. dr hab. Mateusz Goliñski, Dr hab. Prof. UWr Romuald
										Kaczmarek, <br />Prof. dr hab. S³awomir MoŸdzioch, Dr hab.
										Prof. UWr Wojciech Mrozowicz,<br /> Prof. dr hab. Stanis³aw
										Rosik (przewodnicz¹cy)
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1 wow fadeInRight animated">
						<div class="imac">
							<img src="../../assets/img/pergamin.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


