<div class="photoMerian">
	<section class="header parallax home-parallax page" id="fun_facts"
		style="background-position: 50% -150px;">
		<div class="section_overlay">
			<div class="container">
				<div class="row">
					<div class=" wow fadeInLeft animated">
						<div class="row">
							<div>
								<div class="single_count">
									<div class="committee">
										<b>{{ 'Commitee' | translate }}</b>
									</div>
									<p>
										<b>{{ 'Presidium' | translate }}</b> {{ 'PresidiumNames' | translate }}
									</p>
									<p>
									{{ 'CommiteeNames1' | translate }} 
									<br/> {{ 'CommiteeNames2' | translate }} 
									<br/> {{ 'CommiteeNames3' | translate }}
									<br/> {{ 'CommiteeNames4' | translate }}

										
									</p>

									<div class="committee">
										<b>{{ 'OrganizersCommitee' | translate }}</b>
									</div>
									<p>
									{{ 'OrganizersCommiteeNames1' | translate }} <br />
									{{ 'OrganizersCommiteeNames2' | translate }} <br />
									{{ 'OrganizersCommiteeNames3' | translate }} 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


