<p-accordion [multiple]="true"> <p-accordionTab
	*ngFor="let articleHistory of articlesHistory"
	header="{{articleHistory.editor}}: {{articleHistory.modified_date | date:'dd-MM-yyyy HH:mm'}}">

<p-tabView> <p-tabPanel header="Info"
	leftIcon="fa-drivers-license-o"> Tresc Autor </p-tabPanel> <p-tabPanel
	header="{{ 'Description' | translate}}" leftIcon="fa-header">
{{articleHistory.headline}} </p-tabPanel> <p-tabPanel
	header="{{ 'Text' | translate}}" leftIcon="fa-file-word-o">
{{articleHistory.content}} </p-tabPanel> </p-tabView> </p-accordionTab> </p-accordion>
