<div class="contentUnderNewHeader" >
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="about_title">
				<h2>{{ 'letter-greeting' | translate }}</h2>
				<img src="images/shape.png" alt="">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="wow fadeInLeft animated">
		<p class="about_us_p" [innerHTML]="'letter-1' | translate"></p>

	</div>

	<div class="wow fadeInRight animated">
		<p class="about_us_p" [innerHTML]="'letter-2' | translate"></p>
	</div>
	<div class="wow fadeInLeft animated">
		<p class="about_us_p" [innerHTML]="'letter-3' | translate"></p>
	</div>

	<div class="wow fadeInRight animated">
		<p class="about_us_p" [innerHTML]="'letter-4' | translate"></p>

	</div>
	<div class="wow fadeInLeft animated">
		<p class="about_us_p" [innerHTML]="'letter-5' | translate"></p>
	</div>
	<div class="wow fadeInRight animated">
		<p class="about_us_p" [innerHTML]="'letter-6' | translate"></p>
	</div>
	<div class="wow fadeInLeft animated">
		<p class="about_us_p" [innerHTML]="'letter-7' | translate"></p>

	</div>
	<div class="wow fadeInRight animated">
		<p class="about_us_p" [innerHTML]="'letter-8' | translate"></p>
	</div>
	<div class="wow fadeInLeft animated">
		<p class="about_us_p" [innerHTML]="'letter-9' | translate"></p>
	</div>
	<div class="wow fadeInRight animated">
		<p class="about_us_p" [innerHTML]="'letter-10' | translate"><a
				href="mailto:stanislaw.rosik@uwr.edu.pl"><u>stanislaw.rosik@uwr.edu.pl</u></a>.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<p class="about_us_p">{{ 'letter-regards' | translate }}</p>
		<p class="about_us_p">{{ 'letter-author' | translate }}</p>
		<p class="about_us_p"><a href="mailto:stanislaw.rosik@uwr.edu.pl"><u>stanislaw.rosik@uwr.edu.pl</u></a></p>
		<p class="about_us_p">{{ 'letter-author-role' | translate }}</p>		
		<p class="about_us_p">{{ 'letter-date' | translate }}</p>
	</div>
</div>
</div>