


<div class="wow fadeInLeft animated text-center">
	<h3 [innerHTML]="workshop.headline"></h3>

</div>
<br />
<div class="wow fadeInRight animated text-center">
	<h4 [innerHTML]="workshop.content"></h4>
</div>
<br />
<div class="wow fadeInLeft animated text-center">
	<h4 [innerHTML]="workshop.date"></h4>
</div>
<br />
<div class="wow fadeInRight animated text-center">
	<h4 [innerHTML]="workshop.place"></h4>
</div>
<br />
<div class="wow fadeInLeft animated text-center">
	<h4 [innerHTML]="workshop.contact"></h4>
</div>

<hr />