<div></div>

<div class="row">
	<div class="col-md-12">
		<carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
		<slide *ngFor="let slidez of slides" [active]="slidez.active">
		<img [src]="slidez.image" style="margin: auto;">

		<div class="carousel-caption">
			<h3 style="background-color: transparent; color: white;">Slide
				{{ 1}}</h3>
			<p style="background-color: transparent; color: white;">{{slidez.text}}</p>
		</div>
		</slide> </carousel>
	</div>
</div>

<br />
<br />

<articles>Loading...</articles>