<div class="contentUnderNewHeader">

<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="about_title">
					<h2>{{ 'News' | translate }}</h2>
				</div>
			</div>
		</div>
	</div>
	
	

<hr/>
<!-- 
<div class="row">
	<div class="col-md-12">
		<carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides" >
		<slide *ngFor="let slidez of slides" [active]="slidez.active" [description]="slidez.description">
		<img [src]="slidez.image" style="margin: auto;">

		<div class="carousel-caption">
			<h3 style="background-color: transparent; color: white;">Slide
				{{ 1}}</h3>
			<p style="background-color: transparent; color: white;">{{slidez.text}}</p>
		</div>
		</slide> </carousel>
	</div>
</div>

<br />
<br />
 -->
<div align="center">
<news-box *ngFor="let article of news" [article]="article">
</news-box>
</div>
</div>