



<div class="clr masonry-grid" id="blog-wrap">
	<div class="main section" id="main">
		<div class="widget Blog" data-version="1" id="Blog1">
			<div class="blog-posts hfeed">
				<!--Can't find substitution for tag [defaultAdStart]-->

				<div class="date-outer">


					<div class="date-posts">


						<div class="post-outer">
							<article-box
								
								*ngFor="let article of articles" [article]="article">
							</article-box>

							
						</div>


					</div>
				</div>



			</div>
		</div>
	</div>