
<div class="contentUnderNewHeader">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center" >
				<div class="about_title">
					<h2>{{ 'enrolment-created-title' | translate }}</h2>
					<img src="../../assets/img/shape.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="wow fadeInLeft animated">
			<p class="about_us_p text-center">{{ 'enrolment-created1' | translate }}</p>

		</div>



	</div>
</div>

<br />
<br />
<br />
<br />
<br />
<logo></logo>
<br />
