<div class="footerStyle">

	<div class="footer-distributed">

		<div class="footer-left">

			<h3>{{'footerUniversity' | translate }}</h3>
			<h4>{{'footerInstitute' | translate }}</h4>
			
			
			<div>
				<p>
					<i class="fa fa-map-marker"></i> <span> Szewska 49,</span> 50-139
					Wroclaw
				</p>
			</div>

<div>

				<p>
					<i class="fa fa-facebook-f"></i> <a
						href="https://www.facebook.com/VIKMPWroc/">{{'gotoFacebook' | translate }}</a>
				</p>
			</div>
			<!--  
			<div>

				<p>
					<i class="fa fa-phone"></i>+48 071 375 2541
				</p>
			</div>
			
			<div>

				<p>
					<i class="fa fa-envelope"></i> <a
						href="mailto:sekretariat.ih@uwr.edu.pl">sekretariat.ih@uwr.edu.pl</a>
				</p>
			</div>
-->
			<div>

				<p>
					<i class="fa fa-envelope"></i> <a href="mailto:rejestracja@vikmp.pl">rejestracja@vikmp.pl</a>
				</p>
			</div>

		</div>

		<div class="footer-center">
			<div class="col-md-12 text-center   wow fadeInUp animated">
				<h3>{{ 'SeeYouInWroclaw' | translate }}</h3>
				<h3>{{ 'FooterWelcome' | translate }}</h3>
			</div>

		</div>

	</div>
</div>