<p-confirmDialog></p-confirmDialog>

<br />

<button pButton type="button" (click)="saveNew()" icon="fa-check"
	*ngIf="isNew()" class="ui-button-success"
	label="{{ 'Save' | translate}}"></button>

<button pButton type="button" (click)="save()" icon="fa-check"
	*ngIf="!isNew()" class="ui-button-success"
	label="{{ 'Save' | translate}}"></button>

<button pButton type="button" (click)="cancel()" icon="fa-close"
	class="ui-button-warning" label="{{ 'Cancel' | translate}}"></button>

<button pButton type="button" (click)="confirmDelete()"
	icon="fa-trash-o" class="ui-button-danger"
	label="{{ 'Delete' | translate}}"></button>

<br />
<br />

<h3>TODO Walidacja, niektore pola nie moga byc puste</h3>



<label for="from_date">{{ 'From date' | translate}}</label> <br />
	<p-calendar [(ngModel)]="event.from_date"  name="from_date"></p-calendar>
	{{event.from_date}}


<label for="to_date">{{ 'To date' | translate}}</label> <br />
	<p-calendar [(ngModel)]="event.to_date"  name="to_date"></p-calendar>
	{{event.to_date}}


<label for="title">{{ 'Event' | translate}}</label> <br />
<input type="text" size="30" pInputText name="title" required
	[(ngModel)]="event.title">

<label for="description">{{ 'Description' | translate}}</label> <br />
<input type="text" size="300" pInputText name="description" required
	[(ngModel)]="event.description">
	
	<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />