<p-growl [value]="msgs"></p-growl>
<p>Zapomniales hasla?</p>

<div class="logmod__form">
	<form (ngSubmit)="submitPassword()" accept-charset="utf-8"
		#heroForm="ngForm" class="simform" name="registerForm">
		<div class="sminputs">
			<div class="input full">
				<label class="string optional" for="user-email">{{ 'Email' |
					translate }}*</label> <input [(ngModel)]="email"
					class="string optional" name="email" required maxlength="255"
					id="user-email" placeholder="{{ 'Email' | translate }}"
					type="email" size="50" />

			</div>
		</div>
		<div class="simform__actions">
				<input class="submit" name="commit" type="submit"
					value="{{ 'Send Password' | translate }}" /> <span
					class="simform__actions-sidetext"> {{ 'Agree rules info' |
					translate }} <a [routerLink]="['terms']"><span>{{
							'Terms' | translate}}</span></a>
				</span>
			</div>
	</form>
</div>