<div class="contentUnderNewHeader">
	<p-growl [value]="msgs"></p-growl>


	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<p class="text-center">{{ 'ForgotPassword' | translate }}</p>

				<br />
				<div class="logmod__form">
					<form (ngSubmit)="submitPassword()" accept-charset="utf-8"
						#heroForm="ngForm" class="simform" name="registerForm">
						<div class="sminputs">
							<div [class]="forgotForm.email">
								<label class="string optional" for="user-email">{{
									'Email' | translate }}*</label> <input [(ngModel)]="email"
									class="string optional" name="email" maxlength="255"
									id="user-email" placeholder="{{ 'Email' | translate }}"
									type="email" size="50" />

							</div>
						</div>
						<div class="simform__actions">
							<input class="submit" name="commit" type="submit"
								value="{{ 'Send Password' | translate }}" />
						</div>
					</form>

					<div class="redAlert" *ngIf="emailNotFoundAlertVisible()">
						<span class="closebtn"
							onclick="this.parentElement.style.display='none';">&times;</span>
						{{ 'emailNotFoundAlert' | translate }}
					</div>

					<div class="greenAlert" *ngIf="passwordSentAlertVisible()">
						<span class="closebtn"
							onclick="this.parentElement.style.display='none';">&times;</span>
						{{ 'emailSentAlert' | translate }}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>