header {
	padding: 1em;
	height: 100px;
}

footer {
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}

nav {
	float: left;
	max-width: 200px;
	margin: 0;
	padding: 1em;
	margin-left: -40px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul a {
	text-decoration: none;
}

article {
	margin-left: 220px;
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
	margin-top:15px;
}

table.ng2-smart-table {
	width: 100%;
	max-width: 600px;
	height: 320px;
	border-collapse: collapse;
	border: 1px solid #38678f;
	margin: 50px auto;
	background: white;
	font-family: "Open Sans", arial;
}

.ng2-smart-titles {
	background: steelblue !important;
	height: 54px;
	width: 25%;
	font-weight: lighter;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #38678f;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
	font-size: 14px;
	color: white;
	
}

th.ng2-smart-titles {
	background: steelblue !important;
	height: 54px;
	width: 25%;
	font-weight: lighter;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #38678f;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
	font-size: 14px;
	color: white;
	
}

td.ng2-smart-table {
	font-family: "Open Sans", arial;
	font-size: 14px;
}

td.selected {
  background: #d7e4ef;
  z-index: ;
}
tr.ng2-smart-row {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  height: 100%;
  width: 100%;
}

tr.ng2-smart-row > td {
	font-size: 14px;
}

td.ng2-smart-row {
	border-bottom: 1px solid #cccccc;
	font-size: 14px;
}

tr.ng2-smart-row > td.selected {
  background: #d7e4ef;
  z-index: ;
}





