

header {
	padding: 1em;
	height: 100px;
}

footer {
	padding: 1em;
	color: white;
	background-color: #322f30;
	clear: left;
	text-align: center;
}


nav {
	float: left;
	max-width: 200px;
	margin: 0;
	padding: 1em;
	margin-left: -40px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul a {
	text-decoration: none;
}

article {
	margin-left: 220px;
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
}