header {
	width:100%;
	/*height: 100px; wys. panorama.jpg*/
}

footer {
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul a {
	text-decoration: none;
}

article {
	border-left: 1px solid gray;
	padding: 1em;
	overflow: hidden;
	margin-top:15px;
}

/* ADMIN TABLE */
/***********************************************/
table.ng2-smart-table {
	width: 100%;
	max-width: 600px;
	height: 320px;
	border-collapse: collapse;
	border: 1px solid #38678f;
	margin: 50px auto;
	background: white;
	font-family: "Open Sans", arial;
}

/*naglowek w tabeli*/
.ng2-smart-titles {
	background: steelblue !important;
	height: 38px;
	width: 25%;
	font-weight: lighter;
	text-shadow: 0 1px 0 #38678f;
	color: white;
	border: 1px solid #38678f;
	box-shadow: inset 0px 1px 2px #568ebd;
	transition: all 0.2s;
	font-size: 14px;
	color: white;
	
	
}

/*tekst w naglowku*/
.ng2-smart-titles > th > ng2-st-column-title:nth-child(1) > div:nth-child(1) > ng2-smart-table-title:nth-child(1) > a:nth-child(1) {
	font-size: 14px;
	color: white;
	font-weight: lighter;
	font-family: "Open Sans", arial;
}

.ng2-smart-titles > th > ng2-st-column-title:nth-child(1) > div:nth-child(1) {
    text-align: center;
}

/*content*/
tr.ng2-smart-row > td > ng2-smart-table-cell:nth-child(1) > table-cell-view-mode:nth-child(1) {
	font-size: 14px;
	color: black;
	font-family: "Open Sans", arial;
}


.contentUnderNewHeader {
	padding-top: 60px;
}

/* The alert message box */
.redAlert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
}

.yellowAlert {
	padding: 20px;
	background-color: #ff9800;
	color: white;
	margin-bottom: 15px;
}

.blueAlert {
	padding: 20px;
	background-color: #2196F3;
	color: white;
	margin-bottom: 15px;
}

.greenAlert {
	padding: 20px;
	background-color: #2dd22d; /* Red */
	color: white;
	margin-bottom: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
