<p-growl [value]="msgs"></p-growl>

<button pButton type="button" icon="fa-sign-out" (click)="logout()"
	label="{{ 'Log out' | translate}}"></button>
	

<h3 class="first">Profile photo</h3>

<p-fileUpload name="file" url="{{uploadUrl}}"
	(onUpload)="onUpload($event)" accept="image/*" maxFileSize="1000000">
<template pTemplate type="content">
<ul *ngIf="uploadedFiles.length">
	<li *ngFor="let file of uploadedFiles">{{file.name}}</li>
</ul>
</template> </p-fileUpload>




<div class="download">
	<a class="button" href="https://github.com/victordarras/HeavyTable.js">
		heavyTable.js on Github</a>
</div>

<section class="content">
	<div class="download">
		<a class="button" href="https://github.com/victordarras/HeavyTable.js">
			heavyTable.js on Github</a>
	</div>
	<br>
</section>


<img [src]="html" [hidden]="!imageLoaded">


{{diagnostic}}
<br>
{{diagnosticUserId}}
